# Python complete notes

Python is high level programming launguage
program is the set of instruction 
high level a human can easily understand the code input as well as output

features of python
1 . high level
2. Interpreter
3. case sensitive
4. dynamically typed

Interpreter= in python our code excutes line by line because interpreter is working

compiler = used to compile all of the code in a single cell

Case sensitive: lowercase and uppercase value has different

dynamically typed = this language doest not required any pre defined data type for any variable


5. python has esential libarary, python has number of pre define function numpy, pandas, visualization, seaborn, scipy

6. python is object oriented programming language (oops)

' ', " " both work same

In [36]:
import os

In [37]:
os.getcwd()

'C:\\Users\\Abhishek\\Class_notes'

To check  preticular documentation

In [323]:
help(max)  #help key word used to check documentaion

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

- **print  # to check documentation  press >>>   'shift+tab'**

- just press tab it show what to do next in step

In [325]:
print?

In [330]:
cd    # current directory

C:\Users\Abhishek

In [331]:
%cd

C:\Users\Abhishek

In [1]:
"hello world"

'hello world'

In [2]:
#double or single quotation both work same
print('hello world')
print("hello world")

hello world
hello world

In [4]:
print('hello world')
"hello world"

hello world

'hello world'

In [ ]:
# only last statement execute without print

In [6]:
('hello world')
print("hello world")

hello world

In [7]:
print('hello world')
print("hello world")

hello world
hello world

In [ ]:
#  \n help to move next line

In [9]:
print('hello world\n hello world')

hello world
 hello world

In [10]:
print('hello'+'Reedy')

helloReedy

In [11]:
print('hello'+' Reedy')

hello Reedy

In [12]:
print('hello'+" "+'Reedy')

hello Reedy

# VARIABLES

-variables are used to store and retrieve data from our systems memory
-We can store value in a variable by either assigning a value to a variable or getting the value as input from user
-A variable should start with a letter or an underscore and cannot start with numbers.
-varaible = is a name that is points towards the data , a variable also works like conatiner

rules fo creating a variable
1. a variable cannot start from number
4x=10
2. a variable cannot start from any special character @ $ # %( exception _ underscore)
3. inbetween the characters we can use number as well

In [17]:
# 2 TYPE VARIABLE
## ASSIGNING SINGLE VALUE
A = 10
NAME = 'Reddy'
salary = 20.62
print(A, NAME)
print(NAME)
print(salary)

10 Reddy
Reddy
20.62

In [20]:
#PRINT(salary)  # PRINT need to be write is samll letter only

In [22]:
# assigning multiple value
a=b=c=10
x,y,z = 20,30,40
print(a,b,c)
print(x)
print(y)
print(z)

10 10 10
20
30
40

In [26]:
a= 4
a

4

In [27]:
x = 10
x

10

In [28]:
a+x

14

In [29]:
a = 10
A = 20
print(a)
print(A)

10
20

In [30]:
x = "hello"
print(x)

hello

In [32]:
#1st rule
7apple= 20

SyntaxError: invalid decimal literal (3815122302.py, line 2)

In [33]:
apple= 40
apple

40

In [34]:
#2. rule
@hi= 8

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1948438700.py, line 2)

In [35]:
_b= 50
_b

50

In [36]:
#3rd rule
abc9= 30
abc9

30

In [37]:
x1y= 3
x1y

3

In [38]:
a@=3
b=3

TypeError: unsupported operand type(s) for @=: 'int' and 'int'

In [39]:
xyz= 456
c= hi

NameError: name 'hi' is not defined

In [39]:
my_name = "Raghunathreddy"
my_name

'Raghunathreddy'

In [310]:
a = 1+2
a

3

In [312]:
a = '1'+'2'  #str
a

'12'

In [313]:
a = 1*5 #int
a

5

In [315]:
a = '1'*5  # str
a

'11111'

In [357]:
colors = ['red', 'blue', 'green', 'black', 'white']

In [355]:
sorted(colors)  # it sort tempararly

['black', 'blue', 'green', 'red', 'white']

In [356]:
 colors

['red', 'blue', 'green', 'black', 'white']

In [358]:
colors.sort()  # it sort element permanently

In [359]:
colors

['black', 'blue', 'green', 'red', 'white']

# Keywords in Python

 -special reserve words for coding
-have special meaning and purposes
-Can't be used for variable names

In [40]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [41]:
pass = 10

SyntaxError: invalid syntax (1229414940.py, line 1)

# Different way to print statement

In [291]:
age = 25
print('{} is a tupe, {} type of variable'.format(age, type(age)))

25 is a tupe, <class 'int'> type of variable

In [293]:
name  ="Reddy"
study = "python"
print('my name is {} and im studying {} course'. format(name, study))

my name is Reddy and im studying python cpurse

In [295]:
name  ="Reddy"
study = "python"
print('my name is ',name, 'and im studying ',study)

my name is  Reddy and im studying  python

In [296]:
name  ="Reddy"
study = "python"
print('%s is name and %s is my course' %(name, study))

Reddy is name and python is my course

In [298]:
weight = 65
print(" %s is a %s type of variable" %(weight,type(weight)))

 65 is a <class 'int'> type of variable

In [300]:
for i in range(5):
    print('number is {}'.format(i))

number is 0
number is 1
number is 2
number is 3
number is 4

In [301]:
for i in range(5):
    print('number is {}'.format(i), end = "  ")

number is 0  number is 1  number is 2  number is 3  number is 4

In [307]:
for i in range(0,10,2):
    print('num is %s' %(i))

num is 0
num is 2
num is 4
num is 6
num is 8

In [308]:
a = -6.544
abs(a)

6.544

In [309]:
def num(a,b):
    return a+b
a, b = 5, 6
print('sum of {} and {} is {}'.format(a,b,num(a,b)))

sum of 5 and 6 is 11

In [319]:
a = 'hello {}'
b = input('enter your name: ')
print(a.format(b))

enter your name: 556
hello 556

In [360]:
'An integer: %i ; a float: %f ; another string: %s ' % (1, 0.1, 'string') 
# with␣more values use tuple after %

'An integer: 1 ; a float: 0.100000 ; another string: string '

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

# Escaping-Behaviors

In [42]:
#  \ is used to excep the special char
my_var_6 = "Today\'s class is going \"great\"."
print(my_var_6)

Today's class is going "great".

In [43]:
my_var_6 = 'Today\'s class is going \"great\".'
print(my_var_6)

Today's class is going "great".

In [46]:
#Line continuation
my_line = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' \
'do eiusmod tempor incididunt ut labore et dolore magna aliqua. ' \
'Ut enim ad minim veniam, quis nostrud exercitation ullamco '
my_line

'Lorem ipsum dolor sit amet, consectetur adipiscing elitdo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco '

In [47]:
## Newline
message = 'Hello,\nWorld!'
print(message)

Hello,
World!

# Multiple Line Statement

- Another good use case of the `triple single quotes` is to represent multi line statements

In [48]:
note = "This is our Python class.
It's going good.
We are coding with the trainer."
print(note)

SyntaxError: unterminated string literal (detected at line 1) (2147241785.py, line 1)

In [49]:
note = '''This is our Python class.
It's going good.
We are coding with the trainer.'''
print(note)

This is our Python class.
It's going good.
We are coding with the trainer.

Escape charaters: Backslash( \ ) is used to include special characters within strings (', ")
Line continuation and newline : A backslash at the end of a line is used for line continuation & a backslash followed by the character 'n' (\n) to represent a newline character
Raw Strings: Prefixing a string with 'r' or 'R' denotes a raw string (will be used in Pandas I/O process)

# USER input

In [24]:
name = input("enter your name: ")

enter your name: reddy

In [329]:
age = input('enter your age: ')
type(age)

enter your age: 20

str

In [330]:
x=int(input("enter your data:"))
print(x+10)
type(x)

enter your data:20
30

int

In [331]:
x

20

In [332]:
age

'20'

In [333]:
def fun():
    a = input()
    b = input() # they r string
    x = a+b
    print(x)
fun()

20
30
2030

In [335]:
def fun():
    a = int(input())
    b = int(input()) 
    x = a+b
    print(x)
fun()

20
30
50

In [336]:
def fun():
    a = int(input())
    b = int(input()) 
    return a+b
fun()

10
20

30

# Conditional Statements

-Conditional Statements are used to change the flow of execution when a 
particular condition evaluates to True or False

-if :single comdition
-if else:last part of the condition statement
-if elif:The elif keyword used when we have multiple conditions and want to check them one by one

syntax
if condition:
    statement
elif condition:
    statement
else :
    statement

In [141]:
marks = int(input("enter marks: "))
if marks >=95:
    print('Grade A+')
elif marks >=80:
    print('Grade A')
else:
    print("scored well")

enter marks: 85
Grade A

In [143]:
marks = 40
if marks > 50:
    print('pass')
else :
    print('fail')

fail

In [287]:
v = 5
w = 10
if v>w:
    print('v is greater than w')
else:
    print('w is greater')

w is greater

In [289]:
x=16
y=21
z=125
if x>y and x>z:
    print(" x is greater")
elif y>x and y>z:
    print("y is greater")
else:
    print("z is greater")

z is greater

In [293]:
x = 11
if x//2==0:
    print('even')
else:
    print('odd')

odd

In [520]:
def update(x):
    for i in x:
        if i < 0:
            break
        else:
            print(i+1, end=" ")
a = [1,2,3,-4,5]
update(a)

2 3 4

In [522]:
import math as mh
x =10
print(mh.pow(x,2))

100.0

In [20]:
##Nested if 
age = 25
income = 50000
if age >= 18:
    if income >= 30000:
        print("You qualify for a loan.")
    else:
        print("Your income is too low for a loan.")
else:
    print("You are too young to apply for a loan.")

You qualify for a loan.

In [210]:
ip = float(input('enter ineger: '))

if ip  > 100:
    print('value is gtreater than 100')
if ip < 100:
    print('value is lesser than 100')
print('done')

enter ineger: 555
value is gtreater than 100
done

In [216]:
ip = float(input('enter ineger: '))

if ip < 100:
    print('value is gtreater than 100')
    if ip > 50:
        print('value is lesser than 100 and greter than 50')
print('done')

enter ineger: 20
value is gtreater than 100
done

In [218]:
ip = float(input('enter number: '))
if ip < 100:
    print('less than 100')
else:
    print('greater than 100')
print('done')

enter number: 150
greater than 100
done

In [219]:
user_input = float(input('Enter integer:')) #user input

if user_input >= 100:
    print('Greater than or equal to 100')
    
    if user_input <200:
        print('Less than 200')
    else:
        print('Greater than or equal to 200')
else:
    print('Less than 100')
          
print('Done')

Enter integer:115
Greater than or equal to 100
Less than 200
Done

In [222]:
ip = int(input('enter month: '))
if ip in (11,12,1):
    print('winter')
elif ip in (2,3):
    print('spring')
elif ip in (4, 5, 6):
    print('summer')
elif ip in (7,8):
    print('rainy')
elif ip in (7,10):
    print('autumn')
else:
    print('inavlid ip')

enter month: 6
summer

In [225]:
month = int (input("Enter month in Number :"))
if month ==11 or month == 12 or month==1 :
    print ("Its Winter Season")
elif month == 2 or month == 3 :
    print ("Its Spring Season")
elif month == 4 or month == 5 or month == 6:
    print(" Its Summer Season")
elif month == 7 or month == 8:
    print ("Its Autum Season")
else :
    print(" Entered Invalid month")

Enter month in Number :10

In [226]:
user = int(input('Please enter the number corresponding to months(from 1 to 12.).\n=> '))
if user == 2 or 3:
    print("Spring season")
elif user == 4 or 5 or 6:
    print("Summer season")
elif user == 7 or 8:
    print("Rainy season")
elif user == 9 or 10:
    print("Autumn season")
else:
    print('invalid month')

Please enter the number corresponding to months(from 1 to 12.).
=> 5
Spring season

In [ ]:
month = int(input("Enter number in month"))
if month==1:
    print("winter")
elif month>1 and month<=3:
    print("Spring")
elif month>3 and month<=6:
    print("Summer")
elif month>6 and month<=8:
    print("Rainy")
elif month>8 and month<=9:
    print("Autum")
elif month>9 and month<=10:
    print("Winter")
else:
    print("Invalid input please enter number within 1 to 12")

In [228]:
while True:
    month = int(input("Enter the month(1-12):"))
    
    if 1 <= month <=12:
        break
    else:
        print('Invalid Month. Please try again')

if month ==11 or month ==12 or month==1:
    season = 'Winter'
elif month ==2 or month ==3:
    season = 'Spring'
elif month ==4 or month==5 or month==6:
    season='Summer'
elif month==7 or month==8:
    season='Rainy'
elif month==9 or month==10:
    season='Autumn'
else:
    season='Invalid Month'
    
print(f"The season for the month {month} is {season}.")

Enter the month(1-12):13
Invalid Month. Please try again
Enter the month(1-12):2
The season for the month 2 is Spring.

Datatype = data types are the category of a data / or classification of a data
1.built in 
2. user define datatype

type() that is used to check the datatype of a variable

built in data type
1.Integer
2. Float
3. String
4. Boolean

In [43]:
m =10
print(type(m))
type(m)

<class 'int'>

int

In [45]:
n = -30
print(n)
type(n)

-30

int

In [46]:
a = 5.5
type(a)

float

3. String(str)= squence of character example it can be name , 12334
Rule
anything that we will write inside quotes " ", ' ' that would consider as string
any values that has alphabet in it it would consider as string
any special charater can be also string

In [48]:
v = "Name"
print(v)

Name

In [49]:
v

'Name'

In [51]:
d = "s"
type(d)

str

In [52]:
x = "123"
type(x)

str

In [53]:
f  = "@#$%$"
type(f)

str

In [54]:
n =","
type(n)

str

Boolean(bool) = a data type that has True and False inside it
 True
 False
 
 fist letter has to be capital letter in boolean

In [56]:
a = 5
b = 5
a == b

True

In [58]:
a = 5 
b = 6
a == b

False

In [59]:
v = True
type(v)

bool

# LIST - [ ]

In [ ]:
-mutable
-ordered
-allow duplicate

List = sequence of ordered data (more than one data)
rule= everthing we will write we will write inside []
feature = it can have multiple datatype inside 
index would be also present

In [152]:
#creating empty list
name = list()
name

[]

In [155]:
age = [] # empty list
print(age)

[]

In [60]:
#### To show all the classes and methods in the list data type
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [1]:
age = [10,15,6,45]
age

[10, 15, 6, 45]

In [2]:
type(age)

list

In [158]:
age.append(32)
age

[10, 15, 6, 45, 32]

In [159]:
age.append([10,12,32])
age

[10, 15, 6, 45, 32, [10, 12, 32]]

You can delete an element in a list by calling the pop method on it. Pop 
will delete the element at the end of the list
and gives output as deleted item

In [160]:
age.pop()

[10, 12, 32]

In [161]:
age

[10, 15, 6, 45, 32]

You can also delete an element at a particular index, by passing the index 
in as parameters in the function call

In [162]:
age.pop(1)

15

In [163]:
age

[10, 6, 45, 32]

In [223]:
list1=[1,2,3,4,5,"good",True,6.8]
len(list1)

8

In [225]:
list1[5]

'good'

In [227]:
list1.index(5)  #syntax: listname.index()

4

append()= this is used to add a element at the last of the list

In [229]:
list1.append(10)
list1

[1, 2, 3, 4, 5, 'good', True, 6.8, 10]

In [230]:
list1.insert(5,"redt") #insert(index, element)
list1

[1, 2, 3, 4, 5, 'redt', 'good', True, 6.8, 10]

In [1]:
#Nested list
c=[[1,2,3],[7,8,9],['lion','panda']]
print(c)

[[1, 2, 3], [7, 8, 9], ['lion', 'panda']]

In [2]:
c[0][1]

2

In [3]:
c[1][0]

7

In [4]:
len(c)

3

#Slicing- fetching more then one element at a time
[start index, stop index, step]

In [8]:
a='pandacsacsascacascasca'
len(a)

22

In [61]:
s=[2,4,56,78,6,34]

In [10]:
s[:]

[2, 4, 56, 78, 6, 34]

In [63]:
s[::]

[2, 4, 56, 78, 6, 34]

In [11]:
s[0:5]

[2, 4, 56, 78, 6]

In [12]:
s[0:]

[2, 4, 56, 78, 6, 34]

In [14]:
s[:76]

[2, 4, 56, 78, 6, 34]

In [15]:
s[0:3]

[2, 4, 56]

In [16]:
s[3]

78

In [17]:
s[0:6:2]

[2, 56, 6]

In [18]:
s[:3]

[2, 4, 56]

In [19]:
s[0:6:3]

[2, 78]

In [32]:
my_list = [10, 20, 30, 40, 50]
my_list[-2], my_list[-1] = my_list[-1], my_list[-2] # Swap the last two elements
print(my_list) # [10, 20, 30, 50, 40]

[10, 20, 30, 50, 40]

In [62]:
#reversing list
s[ : :-1]  #negative step size means you are going backward

[34, 6, 78, 56, 4, 2]

In [64]:
my_list = [100, "APC", 7,3+5j, 7, 3.14, "BBC", -10, 1.3333]
print(my_list)

[100, 'APC', 7, (3+5j), 7, 3.14, 'BBC', -10, 1.3333]

In [65]:
my_list[1:len(my_list)] #starts from the index 1 till the end of the list

['APC', 7, (3+5j), 7, 3.14, 'BBC', -10, 1.3333]

In [66]:
my_list.index('BBC')

6

In [68]:
my_list[6] = 'AKB' 
my_list

[100, 'APC', 7, (3+5j), 7, 3.14, 'AKB', -10, 1.3333]

In [71]:
my_num_1 = [1,2,3,4,5,6,99]
my_num_2 = [99,98,97,96,95]
my_combined_list = my_num_1 + my_num_2 # '+' means concatenation (seq data type)
my_combined_list

[1, 2, 3, 4, 5, 6, 99, 99, 98, 97, 96, 95]

In [73]:
x, y = 10, 20
x+y

30

In [74]:
my_num_1.append(my_num_2)

In [75]:
my_num_1 #nested list

[1, 2, 3, 4, 5, 6, 99, [99, 98, 97, 96, 95]]

In [76]:
my_num_1[1]

2

In [78]:
my_num_1[-1]

[99, 98, 97, 96, 95]

append() method: to add a single element at the end of the list
extend() method: to add multiple elements at the end of the list
insert() method: to insert an element at the specified index position The insert() method takes two arguments, the first is the index at which the element is to be inserted, and the second is the value/ element to be inserted

In [80]:
my_num_1.append(100)
print(my_num_1)

[1, 2, 3, 4, 5, 6, 99, [99, 98, 97, 96, 95], 100, 100]

In [81]:
my_num_1.pop()

100

In [82]:
my_num_1.append(101,102,103)

TypeError: list.append() takes exactly one argument (3 given)

In [89]:
o = [1,3,5,7,9]
e = [0,2,4,6,8,10]
print(o, e)

[1, 3, 5, 7, 9] [0, 2, 4, 6, 8, 10]

In [91]:
o.extend(e)
o

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10]

In [96]:
o.insert(3,100)
o

[1, 3, 5, 100, 7, 9, 0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10]

In [100]:
o.pop(3)

100

In [99]:
print(my_list)
my_list[-1:-8:-1]

[100, 'APC', 7, (3+5j), 7, 3.14, 'AKB', -10, 1.3333]

[1.3333, -10, 'AKB', 3.14, 7, (3+5j), 7]

In [103]:
my_list[-1:-2]

[]

In [104]:
del e #del keyword can delete the whole list from the memory

In [105]:
e

NameError: name 'e' is not defined

#### using `del` method, a single element at a specific position can also be deleted

In [107]:
o[4]

9

In [108]:
del o[4]

In [109]:
o

[1, 3, 5, 7, 0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10]

In [110]:
o.remove(10) #removes the specific element 10 #one element at a time

In [111]:
o

[1, 3, 5, 7, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 10]

pop() method takes the index as argument and deletes the element at that index & returns the deleted item
If the index is not given, pop() deletes the last by default

In [113]:
o.pop()

10

In [114]:
o.pop(1)

3

In [115]:
o.clear() # it will flush out all the elements from the list but the list will still be there in the memory

In [116]:
0

0

In [124]:
aa = [96,2,3,10,5,6,7]
aa

[96, 2, 3, 10, 5, 6, 7]

In [125]:
aa.reverse()
aa

[7, 6, 5, 10, 3, 2, 96]

In [123]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [126]:
aa.sort()

In [127]:
aa

[2, 3, 5, 6, 7, 10, 96]

In [128]:
aa.sort(reverse=True)
aa

[96, 10, 7, 6, 5, 3, 2]

In [129]:
aa.count(10)

1

count: returns the number of occurrences of a specified element in the list

In [131]:
SKU_ID = "SKU_12345"
SITE_ID = "LOC_230"
CUST_ID = "AKASH_007"

In [132]:
# concatination
SKU_ID + "-" + SITE_ID + "-" + CUST_ID

'SKU_12345-LOC_230-AKASH_007'

In [134]:
x="APC "
x*5 #repeats the string 5 times

'APC APC APC APC APC '

upper(): converts the string to uppercase

lower(): converts the string to lowercase

title(): converts the string to proper case

In [5]:
ww = "raGhunaTH reddY"
ww

'raGhunaTH reddY'

In [6]:
ww.upper()

'RAGHUNATH REDDY'

#### ww.lower()

In [139]:
ww.title()  # proper

'Raghunath Reddy'

In [141]:
qq = 'raghu-nath-reddy'

In [142]:
qq.split('-')

['raghu', 'nath', 'reddy']

In [143]:
qq = 'raghu nath reddy'

In [144]:
qq.split(' ')

['raghu', 'nath', 'reddy']

In [145]:
qq.split(' ', maxsplit = 1)

['raghu', 'nath reddy']

In [147]:
ww = "    raja   di    raja     "
ww

'    raja   di    raja     '

In [148]:
ww.strip()

'raja   di    raja'

In [151]:
ww.find('di')

11

In [152]:
words = ["Hello", "World", "how", "are", "you"]
words

['Hello', 'World', 'how', 'are', 'you']

In [154]:
qq = " ".join(words)
qq

'Hello World how are you'

In [155]:
qq = "*".join(words)
qq

'Hello*World*how*are*you'

In [159]:
string = 'Hello, World!'
string

'Hello, World!'

In [158]:
new_string = string.replace("Hello", "Hi")
new_string

'Hi, World!'

In [9]:
fruit_list = ["apple","orange","banana","kiwi"]

for fruit in fruit_list:
    print(fruit)  # intendation is very important in python

apple
orange
banana
kiwi

In [10]:
len(fruit_list)

4

In [11]:
for i in range(10):
        print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(len(fruit_list)):
    print(i)

0
1
2
3

In [13]:
for i in range(len(fruit_list)):
    print(i, fruit_list[i])

0 apple
1 orange
2 banana
3 kiwi

In [14]:
fruit_list[0]

'apple'

Note: sort( ) function can be used to sort the elements inside a list. This function mutates the list

In [75]:
fruit_list.sort()
print(fruit_list)

['apple', 'banana', 'kiwi', 'orange']

In [79]:
fruit_list.sort(reverse = True)
print(fruit_list)

['orange', 'kiwi', 'banana', 'apple']

Note: reverse( ) function can be used to reverse the elements of a list. This function mutates the list

In [80]:
x = [10,51,3,7,1,85,35]
x

[10, 51, 3, 7, 1, 85, 35]

In [81]:
type(x)

list

In [84]:
x.sort()
print(x)

[1, 3, 7, 10, 35, 51, 85]

In [85]:
x

[1, 3, 7, 10, 35, 51, 85]

In [86]:
fruit_list = ["apple","orange","banana","kiwi"]
fruit_list.reverse() # just reverse the list
print(fruit_list)

['kiwi', 'banana', 'orange', 'apple']

Note: extend( ) function can be used to attach a new list to the end of the original list

In [87]:
fruit_list1 = ["apple","orange","banana","kiwi"]
fruit_list2 = ["strawberry","apple","pineapple","cherry"]
fruit_list1.extend(fruit_list2)
print(fruit_list1)

['apple', 'orange', 'banana', 'kiwi', 'strawberry', 'apple', 'pineapple', 'cherry']

In [88]:
fruit_list2

['strawberry', 'apple', 'pineapple', 'cherry']

Note: You need to distinguish between extend( ) and append( ) functions

In [89]:
a = [11,22,33,44]
b = [55,66,77,88]
a.append(b)
print(a)

[11, 22, 33, 44, [55, 66, 77, 88]]

In [91]:
a = [11,22,33,44]
b = [55,66,77,88]
a.extend(b)
print(a)

[11, 22, 33, 44, 55, 66, 77, 88]

In [93]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
number_list2.extend(number_list1)
print(number_list2)

[44, 55, 66, 11, 22, 33]

In [94]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
number_list2.append(number_list1)
print(number_list2)

[44, 55, 66, [11, 22, 33]]

In [95]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
number_list2 += number_list1
print(number_list2)

[44, 55, 66, 11, 22, 33]

Note: You can unpack lists by assigning lists to a sequence of variables. (Number of variables in sequence should be equal to number of items in the list)

In [101]:
x, y , z, a, b =['ball',2.5, True, 12, 'science']
print(x)
print(y)
print(z)
print(a)
print(b)

ball
2.5
True
12
science

# TUPLES- ( )

In [ ]:
-Immutable
-ordered
-allow dumplicate
-it can have multiple type of built in data

In [171]:
# creqting empty tuple
age = ()
age

()

In [165]:
type(age)

tuple

In [167]:
name = tuple()
print(name)
print(type(name))

()
<class 'tuple'>

In [168]:
age = (10,13,15,1)
print(age)
type(age)

(10, 13, 15, 1)

tuple

In [170]:
age1 = [10,21,34,73,2]
aage2 = tuple(age1) 
print(aage2)
type(aage2)

(10, 21, 34, 73, 2)

tuple

In [171]:
xx = 10,20,30,40
print(xx)
type(xx)

(10, 20, 30, 40)

tuple

In [221]:
Tup=("hi",1,2,3,4,7.6,"hello",2,True) 
print(Tup)
type(Tup)

('hi', 1, 2, 3, 4, 7.6, 'hello', 2, True)

tuple

len() = is used to priovide the number of the data that we are taking in side the user define

In [222]:
len(Tup)

9

In [231]:
T1=(1,2,3,4)  # TUPLES ARE IMMUTABLE
T1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [174]:
10 in xx  # membership operator (in, not in)

True

In [175]:
30 in age1

False

In [176]:
30 not in age1

True

In [177]:
xx.index(20)  # checking index

1

In [179]:
age1.index(34)

2

index = the of position of element inside the memory 
index always starts from 0 and ends at length -1

In [181]:
age1[2]    #indexing/slicing

34

In [182]:
z = 25,18,21,40,50,45
print(z)
type(z)

(25, 18, 21, 40, 50, 45)

tuple

In [183]:
z[1:3]

(18, 21)

In [184]:
z[-1]

45

In [186]:
z[-4:-2]

(21, 40)

# Dictionaries

-mutable
-unordered
-duplicate key not allowed
-duplicate value allowed


Dictionary = used to map a value
rule = {key:value}
key will always work like a index for that value
in a dictionary key cannot be duplicate but a value can

In [187]:
#creating empty dict
name = {}
type(name)

dict

In [188]:
age = dict()
age

{}

In [162]:
dict1 = [['a',1],['b',2],['c',3]]
age =dict(dict1)
type(age)

dict

In [163]:
age

{'a': 1, 'b': 2, 'c': 3}

In [164]:
len(age)

3

In [165]:
age['b']

2

In [166]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [167]:
#adding value to dict
age["d"]=4
age

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [168]:
age.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [169]:
age.values()

dict_values([1, 2, 3, 4])

In [205]:
#chneging value
age["d"]=10
age

{'a': 1, 'b': 2, 'c': 3, 'd': 10}

In [206]:
del age["d"] # deleing value using key

In [207]:
age

{'a': 1, 'b': 2, 'c': 3}

In [208]:
"a" in age

True

In [209]:
"d" in age

False

In [243]:
Dict1= {"key1":23,"key2":24,"key3":"joye", "key4":4.5}
Dict1

{'key1': 23, 'key2': 24, 'key3': 'joye', 'key4': 4.5}

In [245]:
Dict1["key1"]

23

In [248]:
Dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [250]:
Dict1.values()

dict_values([23, 24, 'joye', 4.5])

In [251]:
Dict1["key5"] = 28
Dict1

{'key1': 23, 'key2': 24, 'key3': 'joye', 'key4': 4.5, 'key5': 28}

In [253]:
Dict1.items()

dict_items([('key1', 23), ('key2', 24), ('key3', 'joye'), ('key4', 4.5), ('key5', 28)])

# SET - { }

In [ ]:
-unordered
-immutable
-not allow duplicate

In [232]:
set1 ={1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [233]:
type(set1)

set

In [235]:
#create empty set
qq = set()
type(qq)

set

In [174]:
a = {} # just curly bracket give dict not set
type(a)

dict

In [236]:
set2={1,2,3,3,4,5,5} # no duplicate allowed
set2

{1, 2, 3, 4, 5}

In [237]:
len(set2)

5

In [238]:
set2.append(6)  # immutable

AttributeError: 'set' object has no attribute 'append'

In [175]:
num = {54,84,5,84,9,4,1,97,4,51,7,16,4}
len(num)

10

In [177]:
num.add(22)

In [179]:
num

{1, 4, 5, 7, 9, 16, 22, 51, 54, 84, 97}

In [180]:
num.update([11,22,3,3])
num

{1, 3, 4, 5, 7, 9, 11, 16, 22, 51, 54, 84, 97}

discard(): it removes a specified element from a set. If the element is not present in the set, discard does nothing and doesn't raise an error

In [181]:
num.discard(22)

In [182]:
num

{1, 3, 4, 5, 7, 9, 11, 16, 51, 54, 84, 97}

remove: it removes a specified element from a set but raises an error if the number is not present

In [183]:
num.remove(22)

KeyError: 22

In [186]:
num.remove(11)
num

{1, 4, 5, 7, 9, 16, 51, 54, 84, 97}

pop(): removes and returns an arbitrary element from the set. Since sets are unordered, the specified element that gets removed cant be determined

if the set is empty, pop raise a 'KeyError'

In [187]:
num

{1, 4, 5, 7, 9, 16, 51, 54, 84, 97}

In [188]:
num.pop()

1

In [189]:
num.pop()

97

In [190]:
xx = set()
xx.pop()

KeyError: 'pop from an empty set'

In [196]:
xx.add(3)
xx

{1, 2, 3}

In [195]:
num-xx    # base set and subtract the set minus

{4, 5, 7, 9, 16, 51, 54, 84}

In [200]:
a = {1,2,3,4,5,6,7}
b = {1,4,99,10,5}

# UNION

In [201]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 10, 99}

In [202]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 10, 99}

# INTERSECTION

In [203]:
a.intersection(b)

{1, 4, 5}

In [204]:
b.intersection(a)

{1, 4, 5}

# DIFFERENCE

In [206]:
a.difference(b)  #elements in Set a and not in Set b

{2, 3, 6, 7}

In [207]:
b.difference(a)  #elements in Set b and not in Set a

{10, 99}

In [208]:
print('Set a and b are equal or not:', a==b)

Set a and b are equal or not: False

# split

In [361]:
message= 'hello world, how are you'
message.split()

['hello', 'world,', 'how', 'are', 'you']

In [363]:
for i in message.split():
    print(i)

hello
world,
how
are
you

# zip

In [210]:
X1 = [1,2,3,4,5]
X2 = [5,6,7,8,9]
for m, n in zip(x1, x2):
    print(m, ",",n)

1 , 4
2 , 5
3 , 6

In [138]:
for m, n in zip(x1, x2):
    print(m)
    print(n)

1
4
2
5
3
6

In [106]:
number_list1 = [11,22,33]
number_list2 = [44,55,66]
for var1, var2 in zip(number_list1, number_list2):
    print(var1, ", ", var2)

11 ,  44
22 ,  55
33 ,  66

In [111]:
x = [1, 2, 4, 3]
y = x
y[0]=10
x

[10, 2, 4, 3]

In [112]:
x[1]=5
y

[10, 5, 4, 3]

# List Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition. For example, assume we want to create a list of squares, like:

In [115]:
s = []
for x in range(10):
    s.append(x)
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
square = []
for i in range(10):
    square.append(i*i)
print(square)    # here print working outsid for loop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [117]:
square = []
for i in range(10):
    square.append(i*i)
    print(square)  # here print working inside for loop

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [128]:
# using list comprehensions

square = list(map(lambda x : x**2, range(10)))
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [127]:
square = [x**2 for x in range(10)]  # list comprehensions
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [129]:
square = list(x**2 for x in range(10))  # list comprehensions
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it. For example, this listcomp combines the elements of two lists if they are not equal:

In [131]:
[(x , y) for x in [1,2,3] for y in [4,1,6] if x!=y]

[(1, 4), (1, 6), (2, 4), (2, 1), (2, 6), (3, 4), (3, 1), (3, 6)]

In [133]:
 from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [498]:
num = [x for x in range(0,11)]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Looping Statements

Looping is the process in which we have a some code that gets executed 
repeatedly until a particular condition is satisfied

-For : its not required any condition
-While

==The for loop is used when you know how many iterations there will be or when you want to loop through a sequence of elements (such as a list, tuple, or string).It performs a code block execution for each iteration while iterating over a sequence, adding each element to a variable

==The while loop is used when the number of iterations is unknown in advance, and the
loop continues as long as a defined condition remains True.
It executes the code block periodically as long as the condition is true.

In [145]:
for i in range(10): #default initial value start from 0 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [146]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [229]:
a = [85,26,41,62,761,9,51,1]
for i in a:
    print(i, end = " ")

85 26 41 62 761 9 51 1

In [232]:
for i in range(10):
    print(2*4)

8
8
8
8
8
8
8
8
8
8

In [234]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [235]:
print(range(10))

range(0, 10)

In [150]:
count = 0
while count < 10:
    print(count)
    count += 1
    #print(count)

0
1
2
3
4
5
6
7
8
9

In [151]:
count = 10
while count > 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

In [296]:
i=0
while i<5:
    print('hello')
    i +=1

hello
hello
hello
hello
hello

In [299]:
i=0
while i<5:
    i +=1
    print('hello')

hello
hello
hello
hello
hello

In [300]:
i=1
while i< 4:
    i=i+1
    print('cherry')

cherry
cherry
cherry

range(start, stop, step)

In [303]:
for i in range(1, 11):  # step = 1 default
    print(i)

1
2
3
4
5
6
7
8
9
10

In [302]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [322]:
# for loop print all the even number between 1 to 20
for i in range(1,20):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18

In [503]:
numb=[x for x in range(0,11)]
print(numb)
print("-----------------------")
for x in numb:
    if x == 4:
        break
    print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
-----------------------
0
1
2
3

In [504]:
numb=[x for x in range(0,11)]
print(numb)
print("-----------------------")
for x in numb:
    if x == 4:
        continue
    print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
-----------------------
0
1
2
3
5
6
7
8
9
10

In [505]:
a = 10
while a!=0:
    print(a)
    a -=1

10
9
8
7
6
5
4
3
2
1

using while in place of for loop

In [507]:
num = [x for x in range(10)]
index = 0
while index < len(num):
    print(num[index])
    index += 1

0
1
2
3
4
5
6
7
8
9

In [364]:
words = ('cool', 'powerful', 'readable')
for i in range(0, len(words)):
    print((i, words[i]))

(0, 'cool')
(1, 'powerful')
(2, 'readable')

In [365]:
for index, item in enumerate(words):
    
    print((index, item))

(0, 'cool')
(1, 'powerful')
(2, 'readable')

In [518]:
x=list(range(2,10,2))
y=[2,4,6]
for i in x:
    if i in y:
        print(i//2,end=",")
    else:
        break

1,2,3,

In [238]:
a = [1,2,3]
b = [4,5,6]
re = []
for i in range(len(a)):
    re.append(a[i]*b[i])
print(re)

[4, 10, 18]

In [239]:
a[1]*b[2]

12

In [240]:
a*2

[1, 2, 3, 1, 2, 3]

In [241]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

List doesn't allow vectorized operation but array does.
using numpy we convert list to array

In [243]:
# finding average
aa = [23,9,5,63,79,15,20]
zz = 0
for i in aa:
    zz += i
print(zz)
print(len(aa))
avg = zz/len(aa)
print(avg)

214
7
30.571428571428573

In [246]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end= " ")
    print(' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [249]:
i = 1 
n = 50
while i< n:
    print(i, end = " ")
    i = i+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
list_a = [1,2,3]
list_b = [2,4,6,8]
list_c = [3,6,9,12,15]

In [250]:
list_a = [1,2,3] 
list_b = [2,4,6,8]
list_c = [3,6,9,12,15]
for a in list_a:
    for b in list_b:
        for c in list_c:
            Sum = a+b+c
            if Sum==20:
                print(a,'+',b,'+',c,'=',Sum)

1 + 4 + 15 = 20
2 + 6 + 12 = 20
3 + 2 + 15 = 20
3 + 8 + 9 = 20

In [251]:
list_a = [1,2,3] #Munish
list15_b = [2,4,6,8]
list_c = [3,6,9,12,15]

n = int(input("Enter the sum total value for 'n':"))

for a in list_a:
    for b in list_b:
        for c in list_c:
            Sum = a+b+c
            if Sum==n:
                print(a,'+',b,'+',c,'=',Sum)

Enter the sum total value for 'n':15
1 + 2 + 12 = 15
1 + 8 + 6 = 15
2 + 4 + 9 = 15
3 + 6 + 6 = 15

In [256]:
nums = [10,20,30,40,60,150,45,65,33,105,90,99]
for i in nums:
    if i >100:
        break
    print(i)

10
20
30
40
60

In [257]:
nums = [10,20,30,40,60,150,45,65,33,105,90,99]
for i in nums:
    if i >100:
        continue
    print(i)

10
20
30
40
60
45
65
33
90
99

In [259]:
nums = [10,20,30,40,60,150,45,65,33,105,90,99]
for i in nums:
    if i >100:
        pass
    print(i, end = "  ")

10  20  30  40  60  150  45  65  33  105  90  99

# LAMBDA FUNCTION

its anonumous function (lambda fuction will not have a name )
 it can take any number of arguments but it will have only one expression

syntax: lambda argument: expression

In [310]:
X = lambda x: x*5
print(X(5))

25

In [311]:
X = lambda a, b : a*b
print(X(5,5))

25

In [314]:
X= lambda a, b, c : a+b+c
X(1,2,3)

6

In [508]:
multi = lambda x, y : x*y
print(multi(10,20))

200

In [519]:
X=lambda x: x%2
print(X(10))

0

In [220]:
a = -20 # absolute
abs(a)

20

In [260]:
compute_payment = lambda hours, rate: rate*40 + (1.5*(hours-40)*40) if hours > 40 else 40*hours

In [261]:
compute_payment(60,40)

2800.0

In [266]:
my_list = [0, 1, 1, 0 ,0 ,0 ,1 ,0 ,1]
aa = sorted(my_list)
aa

[0, 0, 0, 0, 0, 1, 1, 1, 1]

In [268]:
aa0 = [x for x in my_list if x == 0 ]
aa0

[0, 0, 0, 0, 0]

In [270]:
aa1 =[x for x in my_list if x == 1]
aa1

[1, 1, 1, 1]

# Type casting

Converting one data type into another
Integer =int()
String=str()
Float=float()
Boolean= bool()
Tuple=tuple()
List=list()
Set= set()
Dictionary = dict() {key:value} (exception)

In [254]:
x = "123"
type(x)

str

In [255]:
x1 =int(x)
type(x1)

int

In [256]:
x1

123

In [259]:
x2 = float(x1)
print(x2)
type(x2)

123.0

float

In [262]:
tup = (1,2,3,4)
print(type(tup))
lis = list(tup)
print(lis)
type(lis)

<class 'tuple'>
[1, 2, 3, 4]

list

In [263]:
st = {1,2,3,4,5,5,6,6,}
type(st)

set

In [265]:
tupl = tuple(st)
print(tupl)
type(tupl)

(1, 2, 3, 4, 5, 6)

tuple

1. Arithmetic operators  = it is used to do mathematical operation
+   = addition
- = sub
*  = multi
/ =  division
//  = floor division  #it will give the answer in int type data 
%  = Modulus               # modulus for the remainder
**  = power

In [50]:
a=11 
b=2

#addition
print('Sum:', a+b)

#subtraction
print('Difference:', a-b)

#multiplication
print('Product:', a*b)

#Division
print('Division:',a/b)

#Exponentiation (Power)
print('Power of a to b is :',a**b)

#Floor Division
print('Floor division:',a//b)

#Modulo (remainder)
print('Modulo:',a%b)

Sum: 13
Difference: 9
Product: 22
Division: 5.5
Power of a to b is : 121
Floor division: 5
Modulo: 1

comparison operators = are used to comapare between more than one
>  greater
<  less than
==  equals to
!= not equals to
>= Greater than or equals to
<= less than or equals to
feature = it will always the give the output in Boolean ( True and False)

In [51]:
a=11
b=2

#Equal Operator
print('Is it equal:', a==b)

#Not Equal Operator
print('Is it not equal:', a!=b)

#Greater than
print('a is greater than:', a>b)

#Greater than or equal to
print('a is greater than or equal to:', a>=b)

#Less than
print('a is less than:', a<b)

#Less than or equal to
print('a is less than or equal to:', a<=b)

Is it equal: False
Is it not equal: True
a is greater than: True
a is greater than or equal to: True
a is less than: False
a is less than or equal to: False

In [266]:
x, y = 5, 8

In [267]:
x>y

False

In [268]:
x<y

True

In [269]:
x!=y

True

In [270]:
x==y

False

# Logical Operator

Logical Operator = are used to perform  logical opretaion or also we can say for the gate(logocal)
and
or
not

In [271]:
#not it will take oposite of the output 
c=5
d=5
not c==d

False

In [272]:
c!=d

False

In [273]:
b=7
c=6
not b<c

True

In [274]:
x, y, z = 20, 21, 30
x<y and z>y

True

In [275]:
x<y and z<y

False

In [52]:
a =100
b=100
a > 8 #comparison operator

True

In [53]:
b>10

True

In [54]:
a>8 and b>10

True

In [55]:
a>8 and b<10

False

In [56]:
a > 8 or b<10 #combined two separate statements

True

In [57]:
a < 8 or b>10 #combined two separate statements

True

In [58]:
not(a > 8 or b<10) #combined two separate statements

False

In [59]:
not(a < 8 and  b>10 )#combined two separate statements

True

# identity operator

identity operator
used to check a value is present at the same memory or not 
-is 
-is not

In [277]:
a =5
b= 5
a is b

True

In [278]:
a =10
b =11
a is b

False

In [279]:
a is not b

True

In [281]:
l =[1,2,3,4]
x=2
x is l

False

# membership operator

membership operator = it is used in sequence datatype
-in
-not in

In [280]:
l=[1,2,3,4]
y=2
y in l

True

In [282]:
tup= (3,4,4,5,6,7)
v=2
v in tup

False

In [283]:
v not in tup

True

In [284]:
l1=[1,3,4,5]
b=2
b not in l1

True

# Assignment operator

Assignment operator = to assing a value to a variable
=
+=
-=
*=
/=
**=

In [285]:
a = 10
a

10

In [286]:
A == 10 # it compare value

False

# FUNCTIONS

In [ ]:
Function= block of code that is use to do some function
#2 type function
-user defined function
-built-in function

In [ ]:
def add(x,y):  #x, y are the parameters or Function Arguments are the variables or data
    return x+y
add(12,11)

In [ ]:
def find_max(nums):
    result = nums[0]
    for x in nums:
        if x> result:
            result = x
    return result
find_max([1,2,8,4,5])

> built in = a function that is already made with python
   append(), print(), len(),type(), insert()

user define function
a function that a user can make to do some certain functionality.
syntax 1:
         def functionname(arguments):
              statement 
    
calling a function 
syntax: 
        functioname(parameter)
        
        
def is a keyword for user define 
X age fun _fun1  1f 
aruguments =any varaible or data that we will use inside the function

In [315]:
def sub(x,y):
    return x-y
sub(10,20)

-10

In [316]:
sub(60,20)

40

advantage of function
it makes the code reusable 
it makes the code small

In [317]:
def name():
    print("RAghunathreddy")
name()

RAghunathreddy

inside the user define function arguments are used to take the varaible
for each arguments there would be a parameter
Paremeter=  the data that we need to take to use inside my function

In [320]:
def check_val(x):
    if x%2==0:
        print('even')
    else:
        print('odd')
check_val(11)

odd

In [321]:
check_val(100)

even

In [323]:
check_val(1,1)

TypeError: check_val() takes 1 positional argument but 2 were given

In [324]:
check_val()

TypeError: check_val() missing 1 required positional argument: 'x'

return = similar to the function print but it work only inside the function

In [325]:
return 10

SyntaxError: 'return' outside function (2874715716.py, line 1)

In [326]:
print(10)

10

# EXceptional Handling

synatx:
    try:
        write your program 
    except Nameof th error:
        code to handle the error
    except:
        code to handle unknown error
    finally:
         optional - code shiuld be executed regardles of error or not

In [551]:
def div(a, b):
    return a/b
div(2,4)

0.5

In [553]:
div(2,0)

ZeroDivisionError: division by zero

# ZeroDivisionError

In [554]:
def div(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        print('cant divide by zero')
div(2,0)

cant divide by zero

In [557]:
def div(a,b):
    try:
        return a/b
    except:
        print('cant divide by zero')
div(2,0)

cant divide by zero

In [558]:
div(5,2)

2.5

# Type Error

In [565]:
def dive(a,b):
    try:
        return a/b
    except TypeError:
        print('wrong data type')
dive(2,"3")

wrong data type

if we metion type of error but we got different error then exceptional handling wont work

In [566]:
def dive(a,b):
    try:
        return a/b
    except TypeError:
        print('wrong data type')
dive(2,0)

ZeroDivisionError: division by zero

In [571]:
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: You cannot divide a number by 0"
    except TypeError:
        a = float(a)
        b = float(b)
        return a/b
    
var1 = 10
var2 = 0
print(my_divider(var1, var2))

Error: You cannot divide a number by 0

In [572]:
var1 = 10
var2 = '0'
print(my_divider(var1, var2))

ZeroDivisionError: float division by zero

In [573]:
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: You cannot divide a number by 0"
    except TypeError:
       
        return 'input error'
    
var1 = 10
var2 = 'dog'
print(my_divider(var1, var2))

input error

# ValueError

In [574]:
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error: You cannot divide a number by 0"
    except NameError:
        return 'input error'
    
var1 = 10
var2 = 'dog'
print(my_divider(var1, var2))

TypeError: unsupported operand type(s) for /: 'int' and 'str'

# Unkown error

In [575]:
def my_divider(a,b):
    try:
        return a/b
    except ZeroDivisionError:
         return "Error: You cannot divide a number by 0"
    except TypeError:
         return "Error: The type of variable is invalid"
    except:
         return "Error: Unknown error"

In [576]:
my_divider(5,2)

2.5

In [577]:
my_divider(5,0)

'Error: You cannot divide a number by 0'

In [578]:
my_divider(5,'0')

'Error: The type of variable is invalid'

In [582]:
my_divider(5,"dog")

'Error: The type of variable is invalid'

In [583]:
my_divider(5,d)

'Error: The type of variable is invalid'

In [584]:
def my_divider(a,b):
    try:
         result = a/b
    except ZeroDivisionError:
         result = "Error: You cannot divide a number by 0"
    except TypeError:
         result = "Error: The type of variable is invalid"
    except:
         result = "Error: Unknown error"
    finally:
         return "Result = {}".format(result)

In [585]:
my_divider(2,5)

'Result = 0.4'

In [586]:
my_divider(2,'dog')

'Result = Error: The type of variable is invalid'

In [587]:
var1 = 10
var2 = 8
print(my_divider(var1, var2))

Result = 1.25

In [588]:
 10 * (1/0)

ZeroDivisionError: division by zero

In [589]:
 4 + spam*3

NameError: name 'spam' is not defined

In [590]:
'2' + 2

TypeError: can only concatenate str (not "int") to str

In [591]:
while True print('Hello world')

SyntaxError: invalid syntax (2884618176.py, line 1)

In [593]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops! That was no valid number. Try again...")

Please enter a number: jg
Oops! That was no valid number. Try again...
Please enter a number: tt
Oops! That was no valid number. Try again...
Please enter a number: 0

In [594]:
try:
    raise KeyboardInterrupt
finally:
    print('Goodbye, world!')

Goodbye, world!

KeyboardInterrupt:

In [595]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")

In [596]:
divide(2,4)

result is 0.5
executing finally clause

In [597]:
divide(2,0)

division by zero!
executing finally clause

In [598]:
divide(0,2)

result is 0.0
executing finally clause

In [599]:
divide('0','2')

executing finally clause

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [601]:
x = input('enter the num1:')
y = input('enter the num1:')
try:
    z = int(x)/int(y)
except ZeroDivisionError:  # perticular exception
    print('ZeroDivisionError Exception')
    z = None
# here we can check what type of error leading to exception    
except Exception as e:  # generic exception
    print('exception type: ',type(e).__name__)
    z = None    
print('divison is: ',z)

enter the num1:2
enter the num1:0
ZeroDivisionError Exception
divison is:  None

In [604]:
x = input('enter the num1:')
y = input('enter the num1:')
try:
    z = int(x)/int(y)
except ZeroDivisionError:  # perticular exception
    print('ZeroDivisionError Exception')
    z = None
    
print('divison is: ',z)

enter the num1:2
enter the num1:6
divison is:  0.3333333333333333

In [605]:
#exceptional handling

x = input('enter the num1:')
y = input('enter the num1:')
try:
    z = int(x)/int(y)
except Exception as e:  # generic exception
    print('exception accured: ',e)
    z = None
    
print('divison is: ',z)

enter the num1:5
enter the num1:0
exception accured:  division by zero
divison is:  None

How to raise exceptional error

In [606]:
# always use specific exceptuonal error
try:
    raise MemoryError('memory error')
except MemoryError as e:
    print(e)

memory error

In [607]:
class Accident(Exception):
    def __init__(self,msg):
        self.msg=msg
    def print_exception(self):
        print('user defined xception:',self.msg)

        
try:
    raise Accident('crash betweem two cars')
except Accident as e:
    e.print_exception()

user defined xception: crash betweem two cars

In [366]:
# we can give any num of arg n kwargs
def variable_args(*args, **kwargs):
    print('args is', args)
    print('kwargs is', kwargs)
    
variable_args('one', 'two', x=1, y=2, z=3)

args is ('one', 'two')
kwargs is {'x': 1, 'y': 2, 'z': 3}

# OOPS

oops = obejct oriented programming structure
class 
object
constructor
self
pillars of oops = 4 features
1.Inheirtance
2.Encapsulation
3. Polymorphism
4. Abstarction

class = a class is blue print of a programn or  Blueprint to create objects
object= real world entity

class syntax
class classname:
    statement
    
syntax object
objectname = classname()
objectname.functioname(parameter)

self = self is keywrord that is used to provide the address of a function inside a class

In [339]:
class parent:
    def fun1(self,v,y):
        return v+y
obj = parent()
obj.fun1(2,3)

5

In [509]:
class calcu:
    def math(self,a,b,c):
        print(a*b*c)
        print(a+b+c)
object=calcu()
object.math(2,3,4)
object.math(5,6,4)

24
9
120
15

In [512]:
class variable:
    def name(self,a):
        return a
    def age(self,b):
        return b
    def group(self,c):
        return c

In [513]:
ob = variable()
print(ob.name('ragunpati'))
print(ob.age(27))
print(ob.group("ds"))

ragunpati
27
ds

In [341]:
class fun2:
    def name(slef, s):
        print(s)
    def age(self,a):
        return a
    def group(self,x):
        return x

obj = fun2()
obj.name("REddt")

REddt

In [342]:
print(obj.age(30))

30

In [344]:
obj.group('TEch')

'TEch'

In [345]:
class Python:
    def program(self,x,y):
        return x//y
    def code(self, c):
        return c
obje=Python()
print(obje.program(10,3))
print(obje.code("Hello"))

3
Hello

note 
-  Step 1 make the object for the class
-  step 2 calling the function via the same object

# constructor

constructor is function  (__init__)
constructor is the self invoking function inside a class
rule = for each class there would be one constructor only

syntax
def __init__():
    statement

In [346]:
class abc:
    def dun(self):
        print('hello ji')
x = abc()
x.dun()

hello ji

In [347]:
class abc():
    def __init__(self):
        print('my name is class')
    def fun1(self):
        print('rock the party')

In [349]:
obj = abc() 
obj.fun1()

my name is class
rock the party

Note - whenever we will make a constructor (__init__) it woulb be called whenevr we will make the object of the class

In [351]:
class me:
    def __init__(self, a,b):
        print(a+b)
    def fun3(self, x,y):
        print(x-y)
    def fun4(self, v,z):
         print(v*z)
    def fun5(self, k,l):
        print(k%l)

In [356]:
o = me(5,6)
o.fun3(3,55)

11
-52

In [358]:
xx=me(5,8) # we can use multiple object for same class

13

In [360]:
xx.fun4(5,8)
o.fun4(5,8)

40
40

In [361]:
o.fun5(10,2)

0

In [514]:
class datas:
    def __init__(self):
        print('my name is raghunathreddy')
    def fun(self):
        print('alias reddy')
ob=datas()
ob.fun()

my name is raghunathreddy
alias reddy

In [515]:
class mony:
    def __init__(self,x,z):
        print(x+z)
    def fun(self,a,b):
        print(a*b)
    def fun1(self,d,s):
        print(d//s)

In [516]:
ob=mony(8,6)
ob.fun(5,6)
ob.fun1(6,9)
ob.fun1(26,23)

14
30
0
1

In [280]:
class person:
    def __init__(self, name, gender, proff):
        self.name  = name
        self.gender = gender
        self.profession = proff
    def intro(self):
        print('name: ',self.name, 'geender is : ',self.gender, 'profession: ',self.profession)
    def work(self):
        print(self.name, "work as ",self.profession)

In [283]:
ob = person('reddy',"m",'data science')
ob.intro()
ob.work()

name:  reddy geender is :  m profession:  data science
reddy work as  data science

In [284]:
class Student:
    #class variable
    school_name = "St. Paul's High School"
    
    #constructor
    def __init__(self, name, age):
        #instance variables
        self.name = name
        self.age = age
    
    #instance methods
    def show(self):
        #access instance variables and class variables
        print('Student:', self.name, 'having age:', self.age, 'studied in:', Student.school_name)
        
    #instance method --> to modify the instannce variable
    def change_age(self, new_age):#using new_age parameter to change the old 'age'
        #modify the instance variable
        self.age = new_age
        
    #class method
    @classmethod #is a decorator; used to define class method. Class methods are bound to the class and not the instance of the class\
    
    def modify_school_name(cls, new_name):
        #modify the class variable
        cls.school_name = new_name #modifies the class variable 'school_name' by assigning it to a new value 'new_name'
                                   #cls refers to the class itself, allowing method to access and modify class variables

In [285]:
student1 = Student('Prachi',20)

#Call instance methods
student1.show()

Student: Prachi having age: 20 studied in: St. Paul's High School

In [286]:
student1.change_age(18)

In [287]:
#Call instance methods
student1.show()

Student: Prachi having age: 18 studied in: St. Paul's High School

In [288]:
Student.modify_school_name('NKBPS Dwarka')

In [289]:
#Call instance methods
student1.show()

Student: Prachi having age: 18 studied in: NKBPS Dwarka

# Encapsulation

1. Encapsulation = wrapping the data and the function inside the class

Encapsulation allows you to control the access to the internal state of an object, ensuring that data integrity is maintained and interactions with the object are performed through well-defined interfaces

Encapsulation means ABstraction+DAta hiding.

In [362]:
class Enc:
    def __init__(self):
        print("I am a constructor")
    def Fun6(self):
        print("I am a funtion 6")
    def Fun7(self, a):
        print(a)

In [363]:
ob = Enc()

I am a constructor

In [364]:
ob.Fun6()

I am a funtion 6

In [365]:
ob.Fun7("reddy")

reddy

In [366]:
class Encap:
    def __init__(self,a):
        print(a)
    def HH(self, b):
        print(b)

class Sulation:
    def __init__(self, x):
        print(x)
    def YY(self,y):
        print(y)

In [367]:
obj1=Encap("I am the onstructor of class 1")
obj1.HH(7)

I am the onstructor of class 1
7

In [368]:
obj2=Sulation(" I am the constructor of the class 2")
obj2.YY(8)

 I am the constructor of the class 2
8

In [29]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.__account_number = account_number # Private attribute
        self.__balance = balance # Private attribute
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
    def get_balance(self):
         return self.__balance

In [30]:
# Creating an instance of the BankAccount class
account = BankAccount("12345", 1000)

In [31]:
# Accessing and modifying through methods (encapsulation)
account.deposit(500)
account.withdraw(200)
print("Account balance:", account.get_balance())

Account balance: 1300

# Inheritance

2. Inheritance= if one class inherit the feature of another class is called inheriatnce

syntax 
class parentclass:
    statement
class childclass(parentclass):
    statement

In [369]:
class parent():
    def info(self):
        print('parent class')
class child(parent):
    def getinfo(self):
        print('child class')

In [371]:
ob = child()  # here we can excess parent class using child classs object
ob.info()
ob.getinfo()

parent class
child class

Types of the inheriatance
1. single inheritance
2. Multiple inheritance

In [373]:
#single inheriatnce = only one parent and only one child
class Parent:
    def fun(self):
        print("I am parent")
class Child(Parent):
    def fun1(self):
        print("I am child")

In [374]:
obj1= Child()
obj1.fun1()

I am child

In [375]:
obj1.fun()

I am parent

Multiple Inheraitance = two parent class but only one child

syntax
class child(both classes)

In [376]:
#multiple inheriatnce
class Father:
    def info(self):
        print(" I am a father class")

class Mother:
    def info2(self):
        print(" I am a mother class")
    
class child(Father,Mother):
    def getinfo(self):
        print(" I am child")

In [378]:
z = child()
z.info()
z.info2()
z.getinfo()

 I am a father class
 I am a mother class
 I am child

multilevel inheritance= one class inherits the property of another class and that inherited class has child class as well

In [381]:
#multilevel inheritance
class Grand:
    def info(self):
        print("i am a grand class")
class Father(Grand):
    def getinfo(self):
        print(" i am father class")
class child(Father):
    def getinfo1(self):
        print(" i am the child class")

In [382]:
x = child()
x.getinfo1()

 i am the child class

In [383]:
x.getinfo()

 i am father class

In [384]:
x.info()

i am a grand class

hierarchical inheritance= one parent class but more than one child class

In [386]:
class father():
    def info(self):
        print('father')
class child1(father):
    def info1(self):
        print('child1')
class child2(father):
    def info2(self):
        print('child2')

In [388]:
ob1 = child1()
ob1.info1()
ob1.info()

child1
father

In [389]:
ob2 = child2()
ob2.info2()
ob2.info()

child2
father

# Hybrid inheritance

In [608]:
class A:
    x = 1
class B(A):
    pass
class C(A):
    pass
class D(B,C):
    pass
o = D()
o.x

1

# POLYMORPHISM

Polymorphism= same name but different in feature
1.fuction overloading
2.function overridding

1. function overloading=  inside a class when we have more than one same name of function but having different functionality

In [394]:
class poly():
    def fun(self, x, y):
        return x+y
    def fun(self, a, b):
        return a*b

In [395]:
z=poly()
z.fun(1,2)

2

In [396]:
class Poly:
    def fun(self, x,y):
        print(x+y)
    def fun(self, x,y):
        print(x*y)
    def fun(self, a,b):
        print(a-b)

In [397]:
o1=Poly()
o1.fun(10,3)  # when we have overloading only last function get execute

7

function overridding= when we have two classes and one class inherits the prperty of the another class and both class name of function
note = there should be two classes
1 function should have same name

In [398]:
class Parent:
    def info(self):
        print("i am the parent class")
class Child(Parent):
    def info(self):
        print('i am a child class')

In [399]:
o2= Child()
o2.info()

i am a child class

In [400]:
o3=Parent()
o3.info()

i am the parent class

In [549]:
class animal:
    def speak(self):
        print('i am an animal')
    def walk(self):
        print(' a am walking')
class dog(animal):
    def speak(self):
        print('im a dog')
o1 = animal()
o1.speak()
o2=dog()
o2.speak()

i am an animal
im a dog

# abstraction

abstraction = hiding the sensitive data from our code
encapulstion 
access modifier = it is used to provide the access of the data towrads the user
Public 
Protected = _ single underscore
Private = __ double underscore

In [401]:
a=10
_a=10
__a=10

In [411]:
class abst():
    def __init__(self, x):
        self.x = 10  # constant
    def fun(self):
        print(self.x)

In [412]:
ob = abst(30)
ob.fun()

10

In [414]:
class s:
    def __init__(self, x):
        self.x=x
    def fun(self):
        print(self.x)
obj=s(7)
obj.fun()

30

In [415]:
class V:
    def __init__(self, a):
        self._a=5
    def Fun3(self):
        print(self._a)
ob1= V(3)
ob1.Fun3()

5

In [416]:
class Y:
    def __init__(self,z):
        self.__z=7
    def Fun4(self):
        print(self.__z)
ob2=Y(2)
ob2.Fun4()

7

In [423]:
class my: 
    def __init__(self,a): 
        self.__a=9 
class me(my): 
    def fun3(self,b): 
        print(self.__a) 
obj1=me(10)
obj1.fun3(5)

AttributeError: 'me' object has no attribute '_me__a'

In [424]:
class A:
    def __init__(self):
        self.a=45
class B(A):
    def fun(self):
        print(self.a)
ob=B()
ob.fun()

45

pass = to pass the statement block

In [430]:
class A:
    num=10
class B(A):
    pass  
ob=B()
ob.num

10

In [431]:
def message():
    for i in range(5):
        print('hello python')
message()

hello python
hello python
hello python
hello python
hello python

In [436]:
## Exercise : Create function to identify the square of a number
def sqr(x):
    if (x*x)%2==0:
        print('its square num', x)
    else:
        print('its not square num', x)

In [438]:
sqr(9)

its not square num 9

In [439]:
# Create computer type
# Create class - Blueprint to create objects 

class computer:
    def config(self):
        print("i5, 16GB, 1TB")

In [441]:
# Create objects - Objects are instances / Copies of class  
## Create computer type 

comp1 = computer()
print(type(comp1))
comp1.config()
type(comp1)

<class '__main__.computer'>
i5, 16GB, 1TB

__main__.computer

In [442]:
print(type(computer()))

<class '__main__.computer'>

In [443]:
print(computer.config)

<function computer.config at 0x0000019EE3967B00>

In [444]:
print(computer.config(comp1))

i5, 16GB, 1TB
None

In [447]:
print(type(computer()))
print(type(comp1))
print("--------------------")
print(comp1.config())
print("--------------------")
print(computer.config)
print("--------------------")
#print(computer.config())
print(computer.config(comp1))

<class '__main__.computer'>
<class '__main__.computer'>
--------------------
i5, 16GB, 1TB
None
--------------------
<function computer.config at 0x0000019EE3967B00>
--------------------
i5, 16GB, 1TB
None

# Check objects 
#computer.config()  ## Self error - Talks about which object the attribute is talking about ( Mention names )
#computer.config(comp1) # comp1 is param - goes to "self" to access the object

comp1.config()

In [449]:
## Create multiple objects 

class computer:
    
    def config(self):
        print("i5, 16, 1TB")
        
comp1 = computer()
comp2 = computer()
comp3 = computer()
comp4 = computer()

In [450]:
computer.config(comp1)
computer.config(comp2)
print("------------------------")
comp1.config()
comp2.config()

i5, 16, 1TB
i5, 16, 1TB
------------------------
i5, 16, 1TB
i5, 16, 1TB

In [451]:
## We have used a single object now.. let us create multiple objects now for computer
## Create multiple objects 

class computer:
    def Intel(self):
        print("i5, 16, 1TB")
    def AMD(self):
        print("i7, 32, 2TB")
        
comp1 = computer()
comp2 = computer()
comp3 = computer()
comp4 = computer()

In [457]:
computer.Intel(comp1)
computer.AMD(comp2)
print("------------------------")
comp1.Intel()
comp2.AMD()

i5, 16, 1TB
i7, 32, 2TB
------------------------
i5, 16, 1TB
i7, 32, 2TB

In [459]:
# Class and Object - Exercise 

class Human:     #Create a class    
    def walk(self):   #This is behaviour/function/methods
        print("I'm walking")        
    def dance(self):   #This is behaviour/function/methods
        print("I'm dancing")        
    def sing(self):   #This is behaviour/function/methods
        print("I'm singing")

#Create an object:
com1 = Human()      
com2 = Human()
com3 = Human()

com1.walk()   #Result : I'm walking
com2.dance()  #Result : I'm dancing
com3.sing()   #Result : I'm singing

I'm walking
I'm dancing
I'm singing

In [460]:
# __init__ Method
# Usages : to initialize (assign value) to the data member of the class when an object of class is created


class computer:
    
    def __init__(self,cpu,ram):
        print("This is my __init__")
        self.cpu = cpu
        self.ram = ram
    
    def config(self):
        print("i5, 16, 1TB")
        print(self.cpu, self.ram)

# Create objects
comp1 = computer("i3",4)
comp2 = computer("i5",4)
comp3 = computer("i3",8)
comp4 = computer("i5",16)

#print("-------------------")
#computer.config(comp1)
#computer.config(comp2)
#print("------------------------")
comp1.config()
comp2.config()
#print("-------------------")
#computer.config(comp1)
#computer.config(comp2)
#print("------------------------")
comp3.config()
comp4.config()

This is my __init__
This is my __init__
This is my __init__
This is my __init__
i5, 16, 1TB
i3 4
i5, 16, 1TB
i5 4
i5, 16, 1TB
i3 8
i5, 16, 1TB
i5 16

In [461]:
# The __init__ Method

# __init__ is similar to constructors in C++ and Java
# Usages : to initialize (assign value) to the data member of the class when an object of class is created

class Human:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def greeting(self):
        print("Hi, my name is",self.name, "and I'm",self.age,"years old!")

# Create an object:
human1 = Human("Navin",28)
human2 = Human("Pravin",18)

human1.greeting()
human2.greeting()

Hi, my name is Navin and I'm 28 years old!
Hi, my name is Pravin and I'm 18 years old!

In [466]:
## Polygon example 
class Polygon:
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]
         
    def dispSides(self):
        for i in range(self.n):
            print("Side",i+1,"is",self.sides[i])

obj = Polygon(4)
obj.inputSides()
obj.dispSides()

Enter side 1 : 9
Enter side 2 : 8
Enter side 3 : 6
Enter side 4 : 5
Side 1 is 9.0
Side 2 is 8.0
Side 3 is 6.0
Side 4 is 5.0

In [467]:
class Triangle(Polygon):
    
    def __init__(self):
        Polygon.__init__(self,3)

    def findArea(self):
        a, b, c = self.sides
        # calculate the semi-perimeter
        s = (a + b + c) / 2
        area = round(s*(s-a)*(s-b)*(s-c)) ** 0.5
        print("The Area is")
        print(area)

In [468]:
t = Triangle()
t.inputSides()

Enter side 1 : 3
Enter side 2 : 5
Enter side 3 : 6

In [469]:
t.dispSides()

Side 1 is 3.0
Side 2 is 5.0
Side 3 is 6.0

In [470]:
t.findArea()

The Area is
7.483314773547883

In [475]:
class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

d = Computer()
d.sell()

Selling Price: 900
Selling Price: 900

In [476]:
# change the price
c.__maxprice = 1000
c.sell()

Selling Price: 900

In [477]:
# using setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 1000

In [478]:
c.sell()
d.sell()

Selling Price: 1000
Selling Price: 900

In [479]:
# Polymorphism  : Use common interface for multiple forms

In [480]:
class Parrot:

    def fly(self):
        print("Parrot can fly")
    
    def swim(self):
        print("Parrot can't swim")

class Penguin:

    def fly(self):
        print("Penguin can't fly")
    
    def swim(self):
        print("Penguin can swim")

In [481]:
# common interface
def flying_test(bird):
    bird.fly()

In [482]:
#instantiate objects
blu = Parrot()
peggy = Penguin()

In [483]:
# passing the object
flying_test(blu)
flying_test(peggy)

Parrot can fly
Penguin can't fly

In [487]:
blu.fly()
peggy.fly()

Parrot can fly
Penguin can't fly

In [488]:
blu.swim()
peggy.swim()

Parrot can't swim
Penguin can swim

In [491]:
class python:
    def program(self, x, y):
        return x//y
    def code(self,c):
        return c
ob = python()
z = ob.program(76,5)
print(z)
print(ob.code("python"))

15
python

In [492]:
class cons:
    def __init__(self,a,b):
        print(a+b)
    def fun(self,x,y):
        print(x*y)
    def fun2(self,p,q):
        print(p-q)

In [493]:
o=cons(4,5)

9

In [494]:
o.fun(5,8)

40

In [495]:
o.fun2(9,2)

7

In [496]:
class poly:
    def fun(self):
        print('name')
    def fun(self):
        print('last')
ob=poly()
ob.fun()

last

In [497]:
class note:
    def __init__(self):
        self.x=10
class page(note):
    def fun(self):
        print(self.x)
ob=page()
ob.fun()

10

In [526]:
class student():
    
    def __init__(self,name,branch,year):
        self.name = name
        self.branch = branch
        self.year = year
        print("a student object is created")
    def details(self):
        print('name:',self.name)
        print('Branch:',self.branch)
        print('year:',self.year)
obj = student('reddy','python',2018)
obj.details()

a student object is created
name: reddy
Branch: python
year: 2018

In [528]:
class student():
    
    def __init__(self,name,branch,year):
        self.name = name
        self.branch = branch
        self.year = year
        print(self.name,self.year,self.branch)
        print("a student object is created")
obj = student('reddy','python',2018)

reddy 2018 python
a student object is created

In [532]:
class vehicle:
    def __init__(self,name,color,price):
        self.name = name
        self.color = color
        self.price = price
        
    def description(self):
        
        print(f" car name is {self.name}, color {self.color}, price {self.price}")             
              
              
obj = vehicle('Ferrari','red','700000')
obj.description()  
obj2 = vehicle('JEEP','Blue','1500000')
obj2.description()

 car name is Ferrari, color red, price 700000
 car name is JEEP, color Blue, price 1500000

In [537]:
class fruit:
    def __init__(self):
        print('im a fruit')
class mango(fruit):
    def __init__(self):
        super().__init__()
        print('im mango')
z = mango()

im a fruit
im mango

In [1]:
class fruit:
    def __init__(self):
        print('im fruit')
class citrus(fruit):
    def __init__(self):
        fruit.__init__(self)
        print('im citrus')
ob = citrus()

im fruit
im citrus

In [535]:
class fruit:
    def __init__(self):
        print('im a fruit')
class mango(fruit):
    def dev(self):
       
        print('im mango')
z = mango()
z.dev()

im a fruit
im mango

In [538]:
class fruit:
    def __init__(self):
        print('im a fruit')
class mango():
    def dev(self):
       
        print('im mango')
z = mango()
z.dev()

im mango

In [542]:
class fruit:
    def __len__(self):
        return 20000
print(len(fruit()))

20000

In [543]:
class fruit:
    def __str__(self):
        return 'Reddy'
print(fruit())

Reddy

In [544]:
class naaa:
    def __str__(self):
        return self.name
o = naaa()
print('reddy')

reddy

In [545]:
class fruit:
    def __init__(self):
        print('im a fruit')
class mango(fruit):
    def __init__(self):
        super().__init__()
        print('im king of fruit')
obj = mango()

im a fruit
im king of fruit

use of super() function to call a method from parent class

In [547]:
class vehicle:
    def start(self):
        print('start engine')
    def stop(self):
        print('stop engine')
class twowheeler(vehicle):
    def say(self):
        super().start()
        print('i have twi wheeler')
        super().stop()
bike  = twowheeler()
bike.say()

start engine
i have twi wheeler
stop engine

In [332]:
class person():
    def __init__(self, name, idnumber):
        self.name = name
        self.idnumber = idnumber
        
    def display(self):
        print(self.name)
        print(self.idnumber)
        
    def details(self):
        print('my name is {}',format(self.name))
        print('my idnumber is {}',format(self.idnumber))

class employee(person):
    def __init__(self,name,idnumber,salary,post):
        self.salary = salary
        self.post = post
        person.__init__(self,name,idnumber)
    def datails(self):
        print('my name is ',format(self.name))
        print('my idnumber is ',format(self.idnumber))
        print('post: ',format(self.post))
        print('my salary is ',format(self.salary))
obj = employee('Abhiramraj',4563876,50000,'data scientist')

obj.display()
obj.datails()

Abhiramraj
4563876
my name is  Abhiramraj
my idnumber is  4563876
post:  data scientist
my salary is  50000

In [346]:
class Father():
    def skills(self):
        print('i enjoy gardening')

class Mother():
    def skills(self):
        print('i like cooking')
class Child(Father,Mother):
    def skills(self):
        Father.skills(self)
        Mother.skills(self)
        print('i like sports')
        
obj = Child()
obj.skills()

i enjoy gardening
i like cooking
i like sports

In [347]:
class Animals:
    a=100
    b=22
    
    def traits(self):
        print('Depends on animal')
        
tiger = Animals()
tiger.a

100

In [350]:
tiger.b

22

In [351]:
tiger.traits()

Depends on animal

In [352]:
import math as m

In [335]:
m.sqrt(16)

4.0

In [336]:
m.pi

3.141592653589793

In [337]:
m.pow(5,2)

25.0

In [339]:
# if i want to know what all function in math 
dir(m)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [341]:
m.floor(10.151321   )

10

In [343]:
m.ceil(6.1)

7